body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url("images/arts_and_humanities.png");
    background-size:cover;
    text-align:center;
    color:white;
    font-weight: bold;
}

h1{
    color:chartreuse;
}

#message-el{
    font-style: italic;
}

button{
    color:#016f32;
    width:150px;
    background-color:goldenrod;
    border-radius:20px;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:bold;
    border:none;
    margin-bottom:4px;
}
