.custom-button {
    background-color: #2874f0;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.custom-button:hover {
    background-color: #0f62d3;;
}