.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 10px;
  padding: 20px;
}
.box {
  background-color: #ffe1dc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #eb1700;
  border-radius: 8px;
}
